<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="userpage.css">
  <title>User Page</title>
</head>
<body>
  <nav>
    <ul>
      <li><small>Wallet</small><br>Metamask</li>
      <li><small>Wallet ID</small><br><%= userID %></li>
      <li><small>PAGE</small><br>
        <% if (WhichPage == 0) { %>
          image
        <% } %>
        <% if (WhichPage == 1) { %>
          video
        <% } %>
        <% if (WhichPage == 2) { %>
          text
        <% } %>
        <% if (WhichPage == 3) { %>
          order
        <% } %>
      </li>
      <% if(FileCheck != true){ %>
        <li style="color: rgb(0, 255, 0);"><small>Status</small><br>True</li>
      <%} else{%>
        <li style="color: rgb(255, 8, 0);"><small>Status</small><br>False</li>
      <%}%> 
      <li style="margin-right: 40px;"><br><a href="#">HESAP DEGISTIR</a></li>
    </ul>
    <hr>
  </nav>
  <% if(FileCheck == true){ %>
      
    <div class="container">
      <div class="row">
        <div class="col">
          <img src="no-results.png" alt="Not Found" style="margin-top: 7%; width: 200px; height: 200px; margin-left: 43%;">
          <p style="margin-top: 20px; font-weight: 700; font-size: 20px; text-align: center;">We think you should add a new file</p>
          <div class="buttons">
            <button style="margin-left: 48%;">Dosya Ekle</button>
          </div>
        </div>
        </div>
      </div>
    </div>
     <%} else{%>
        <section>
          <div>
            <table>
              <tr>
                <th> #</th>
                <th> İSİM</th>
                <th> TİP</th>
                <th> Önem Derecesi</th>
                <th> </th>
              </tr>
          <% for (let i=0; i<variable_1.length; i++){ %>
            <tr>
              <td><%= i %></td>
              <td><%= variable_1[i].SubTitle%></td>
              <td><%= variable_1[i].type %></td>
              <td class="status-inactive" style="text-align: center;">LOW</td>
              <td> <a download="<%= variable_1[i].SubTitle%>.<%= variable_1[i].type %>" href="<%=variable_1[i].image%> ">INDIR</a></td>
            </tr>
          <%}%> 
            </table>
              <div class="buttons">
                <button>Insert</button>
                <button>Options</button>
                <button>Filters</button>
                <button>Clear All</button>
              </div>
            </div>
        </section>
      <%}%> 
     
       
     
  
</body>
</html>